* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
body {
	background-color: #548687;
	text-align: center;
}
.container {
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.game {
	height: 60vmin;
	width: 60vmin;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	gap: 1.5vmin;
	align-items: center;
}
.button {
	height: 18vmin;
	width: 18vmin;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10vmin;
	cursor: pointer;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
	color: #b0413e;
	background-color: #fffc7f;
	border-radius: 1rem;
}

h1 {
	margin-top: 20px;
	color: #ffffff;
	font-size: 70px;
}
.reset {
	padding: 10px 20px;
	font-size: 20px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	background-color: #191913;
	color: #fff;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
